.footer {
  background-color: $black;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 28px 36px 28px;
  row-gap: 15px;
}

.footer__address {
  @include paragraph-mobile;
  color: $white;
  margin: 0;
}

.footer__phone {
  @include paragraph-mobile;
  color: $white;
}

.footer__social-list {
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 16px;
}

.footer__logo {
  margin: 8px 0 0 0;
}
