.footer {
  background-color: $smoky-white;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 35px 28px 33px 28px;
  row-gap: 15px;
  background-color: $black;
  max-width: 1366px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 39px 43px 46px 53px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding: 65px 223px 62px 191px;
    justify-content: space-around;
  }
}

.footer__address {
  @include paragraph-mobile;
  color: $white;
  margin: 0;

  @media (min-width: $tablet) {
    order: 2;
    margin: 0 0 0 46px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.footer__phone {
  @include paragraph-mobile;
  text-decoration: none;
  color: $white;

  @media (min-width: $tablet) {
    order: 3;
    margin: 0 0 0 8px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.footer__social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 16px;

  @media (min-width: $tablet) {
    order: 1;
    column-gap: 7px;
  }
}

.footer__logo {
  margin: 8px 0 0 0;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
    margin: 0;
  }
}
