.header {
  background-color: $color9;
}

.header__container {
  box-sizing: border-box;
  background-image: url("../img/cat-1-mobile@1x.png");
  background-color: $color2;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  max-width: $desktop;
  margin: 0 auto;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/cat-1-mobile@2x.png");
  }

  @media (min-width: $tablet) {
    background-image: url("../img/cat-1-tablet@1x.png");
    padding: 0 0 44px 0;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/cat-1-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    display: grid;
    background-image: url("../img/cat-1-desktop@1x.png");
    padding: 50px 68px 60px 68px;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
  }
}

.header__navigation {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    grid-column: 1 / 3;
  }
}

.header__panel {
  position: relative;
  height: 25px;
  width: 100%;
  margin: 25px 0 0 0;

  @media (min-width: $desktop) {
    position: absolute;
    margin: 0;
    height: 0;
    z-index: 2;
  }
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
}

.header__burger-menu {
  display: none;
  position: absolute;
  background: none;
  outline: none;
  border: none;
  height: auto;
  top: 6px;
  left: 41px;
  padding: 0;
  stroke: $color1;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    stroke: $color6;
    transform: scale(1.2);
  }

  @media (min-width: $desktop) {
    display: none;
  }

  &--show {
    display: block;

    @media (min-width: $desktop) {
      display: none;
    }
  }
}

.header__phone {
  @include button-text;
  display: none;

  @media (min-width: $desktop) {
    display: block;
    margin-left: auto;
    width: 136px;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 15px 275px;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 95px 0 0 42px;
    align-items: flex-start;
    max-width: 350px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    margin: 112px 0 0 109px;
  }
}

.header__city {
  @include paragraph-mobile;
  color: $color6;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet) {
    @include paragraph;
  }
}

.header__title {
  @include title-mobile;
  color: $color1;
  text-align: center;
  margin: 4px 0 0 0;

  @media (min-width: $tablet) {
    @include title;
    text-align: left;
    margin: 18px 0 0 0;
  }
}

.header__description {
  @include paragraph-mobile;
  color: $color6;
  text-align: center;
  margin: 17px 20px 35px 20px;

  @media (min-width: $tablet) {
    @include paragraph;
    max-width: 270px;
    text-align: left;
    margin: 19px 0 52px 0;
  }

  @media (min-width: $desktop) {
    margin: 17px 0 50px;
  }
}

.header__link-button {
  @include button-link;
  margin: 0 auto;

  @media (min-width: $tablet) {
    margin: 0;
    margin-right: auto;
    padding: 16px 43px 18px 36px;
  }
}

.header__social-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 16px;

  @media (min-width: $tablet) {
    display: flex;
    margin: 56px 0 0 41px;
    column-gap: 12px;
  }

  @media (min-width: $desktop) {
    position: relative;
    column-gap: 0;
    row-gap: 8px;
    grid-column: 1 / 2;
    flex-direction: column;
    align-items: center;
    margin: 43px 0 0 10px;

    &::before {
      position: absolute;
      top: -102px;
      left: 7px;
      content: "";
      height: 75px;
      border: 1px solid rgba(255, 255, 255, 0.61);
    }
  }
}
