.header {
  background-color: $black;
}

.header__container {
  padding: 27px 15px 276px 15px;
  background-image: url("../img/cat-1.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__city {
  @include paragraph-mobile;
  color: $gold;
  margin: 45px 0 0 0;
  text-align: center;
}

.header__title {
  @include title-mobile;
  color: $white;
  text-align: center;
  margin: 4px 0 0 0;
}

.header__description {
  @include paragraph-mobile;
  color: $gold;
  text-align: center;
  margin: 17px 20px 35px 20px;
}

.header__link {
  @include button-link;
  margin: 0 auto;
}
