.main {
  background-color: $color9;
}

.main__container {
  padding: 40px 0 0 0;
  background-color: $color4;
  margin: 0 auto;
  max-width: $desktop;

  @media (min-width: $tablet) {
    padding: 85px 0 0 0;
  }

  @media (min-width: $desktop) {
    padding: 208px 0 0 0;
  }
}
