.menu {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
  }
}


.menu__list {
  @include button-text;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  &:hover {
    transform: scale(1.1);
    transition: .3s;
  }
}

.menu__item-link {
  text-decoration: none;
  color: $white;
  padding: 0px 20px;
}


.menu__close-button {
  display: block;
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  stroke: $white;
  cursor: pointer;

  &:hover {
    stroke: $gold;
    transform: scale(1.5);
    transition: .3s;
  }

  @media (min-width: $desktop) {
    display: none
  }
}
