.pets-care {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  background-image: url("../img/background-cat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 29px 15px 0 15px;
}

.pets-care__title {
  @include section-title-mobile;
  margin: 29px 0;
}

.pets-care__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pets-care__item {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content;
  width: 100%;
  height: auto;
  border: 1px solid $gold;
}


.pets-care__item-info {
  padding: 20px 8px 19px 25px;
}

.pets-care__item-title {
  @include text;
  color: $gold;
  margin: 0;
}

.pets-care__description {
  @include paragraph-mobile;
  color: $white;
  margin: 10px 0 0 0;
}

.pets-care__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 46px;
  background-color: $gold;
}
