.pets-gallery {
  width: 100%;
}

.pets-gallery__list {
  display: flex;
  justify-content: space-between;
  color: $white;
  list-style: none;
  margin: 0;
  padding: 14px 27px;

  @media (min-width: $tablet) {
    padding: 28px 44px 17px 28px;
    justify-content: center;
    column-gap: 44px;
  }
}

.pets-gallery__item {
  opacity: 0.2;

  &--active {
    opacity: 1;
  }
}

.pets-gallery__link {
  @include button-text;

  @media (min-width: $tablet) {
    @include text-mobile;
  }
}

.pets-gallery__photos-wrapper {
  position: relative;
  margin: 23px 0 41px;
  padding: 0px 28px;

  @media (min-width: $tablet) {
    margin: 25px auto 50px auto;
    max-width: 723px;
    padding: 0;
  }
}

.pets-gallery__photos {
  list-style: none;
}

.pets-gallery__block {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  &--show {
    display: block;
  }
}

.pets-gallery__photo {
  min-width: 234px;
  max-width: 465px;
  margin: auto;
}

.pets-gallery__sliders {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.pets-gallery__slider {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  stroke: $gold;
  stroke-width:5;
}

.pets-gallery__button-link {
  @include button-link;
  padding: 10px 20px 13px 20px;

  @media (min-width: $tablet) {
    padding: 18px 43px 18px 40px;
  }
}
