.pets-care {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  background-image: url("../img/background-cat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 29px 17px 60px 15px;

  @media (min-width: $tablet) {
    padding: 59px 99px 99px 113px;

    background-image: url("../img/background-cat-tablet@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/background-cat-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    padding: 53px 105px 99px 104px;
    background-image: url("../img/background-cat-desktop@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/background-cat-desktop@2x.jpg");
    }
  }
}

.pets-care__title {
  @include section-title-mobile;
  margin: 24px 24px 33px 24px;

  @media (min-width: $tablet) {
    @include section-title;
    margin: 28px 44px 40px 27px;
  }

  @media (min-width: $desktop) {
    margin: 28px 45px 50px 45px
  }
}

.pets-care__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet) {
    row-gap: 23px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    //grid-template-rows: min-content min-content;
    column-gap: 45px;
    row-gap: 42px;
  }
}

.pets-care__item {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content;
  width: 100%;
  height: auto;
  border: 1px solid $gold;

  @media (min-width: $desktop) {
    &--wool {
      order: 1;
    }

    &--ears-eyes {
      order: 3;
    }

    &--claws {
      order: 2;
    }

    &--feed {
      order: 4;
    }
  }
}

.pets-care__item-info {
  padding: 20px 6px 19px 24px;

  @media (min-width: $tablet) {
    &--wool {
      padding: 37px 45px 48px 48px;
    }

    &--ears-eyes {
      padding: 32px 45px 30px 47px;
    }

    &--claws {
      padding: 38px 45px 46px 48px;
    }

    &--feed {
      padding: 35px 45px 27px 48px;
    }
  }

  @media (min-width: $desktop) {
    &--wool {
      padding: 36px 45px 46px 58px;
    }

    &--ears-eyes {
      padding: 33px 45px 25px 57px;
    }

    &--claws {
      padding: 36px 45px 45px 56px;
    }

    &--feed {
      padding: 35px 45px 24px 57px;
    }
  }

}

.pets-care__item-title {
  @include text-mobile;
  color: $gold;
  margin: 0;

  @media (min-width: $tablet) {
    @include text;
  }
}

.pets-care__description {
  @include paragraph-mobile;
  color: $white;
  margin: 10px 0 0 0;

  @media (min-width: $tablet) {
    line-height: 23px;
  }
}

.pets-care__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 46px;
  background-color: $gold;

  @media (min-width: $tablet) {
    min-width: 58px;
  }
}

.pets-care__arrow {
  width: 18px;
  height: 45px;
  stroke: $white;
  stroke-width:5;
}
