.questions-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $asphalt;
  padding: 30px 15px 20px 15px;

  @media (min-width: $tablet) {
    padding: 105px 55px 35px 55px;
  }

  @media (min-width: $desktop) {
    padding: 41px 55px 35px 55px;
  }
}

.questions-answers__title {
  @include section-title-mobile;

  @media (min-width: $tablet) {
    @include section-title;
    margin: 32px 9px 19px 0;
  }

  @media (min-width: $desktop) {
    margin: 30px 0px 21px 0;
  }
}

.questions-answers__description {
  @include section-paragraph-mobile;
  color: $gold;
  text-align: center;
  margin: 0px 32px;

  @media (min-width: $tablet) {
    @include section-paragraph;
  }
}

.questions-answers__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: $white;
  margin: 36px 0 0 0;
  padding: 0;
  row-gap: 30px;

  @media (min-width: $tablet) {
    margin: 54px 0 0 105px;
    row-gap: 23px;
  }

  @media (min-width: $desktop) {
    width: 793px;
    margin: 54px 0 0 136px;
    row-gap: 38px;
  }
}

.questions-answers__item {
  position: relative;

  &--first::before {
    position: absolute;
    top: 18px;
    left: -79px;
    content: "";
    width: 47px;
    height: 47px;
    background-image: url("../img/icons/01-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: $desktop) {
      top: 29px;
      left: -113px;
      width: 65px;
      height: 53px;
    }
  }

  &--second::before {
    position: absolute;
    top: 19px;
    left: -79px;
    content: "";
    width: 55px;
    height: 47px;
    background-image: url("../img/icons/02-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: $desktop) {
      top: 29px;
      left: -113px;
      width: 75px;
      height: 52px;
    }
  }

  &--third::before {
    position: absolute;
    top: 20px;
    left: -79px;
    content: "";
    width: 54px;
    height: 47px;
    background-image: url("../img/icons/03-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: $desktop) {
      top: 30px;
      left: -114px;
      width: 75px;
      height: 52px;
    }
  }

  &--fourth::before {
    position: absolute;
    top: 19px;
    left: -80px;
    content: "";
    width: 56px;
    height: 47px;
    background-image: url("../img/icons/04-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: $desktop) {
      top: 28px;
      left: -113px;
      width: 75px;
      height: 52px;
    }
  }
}

.questions-answers__item-block {
  display: flex;
}

.questions-answers__question {
  display: flex;
  align-items: center;
  @include section-paragraph-mobile;
  flex-grow: 1;
  font-style: 500;
  border: 1px solid $brown;
  margin: 0;
  padding: 9px 14px 10px 13px;
  letter-spacing: 0.01em;

  @media (min-width: $tablet) {
    position: relative;
    @include button-text;
    padding: 10px 75px 10px 26px;
  }

  @media (min-width: $desktop) {
    padding: 45px 75px 43px 38px;
  }

  // .questions-answers__item--first & {
  //   @media (min-width: $tablet) {
  //     padding: 12px 85px 10px 28px;
  //   }

  //   @media (min-width: $desktop) {
  //     padding: 14px 85px 12px 42px;
  //   }
  // }
}

.questions-answers__answer {
  display: none;
  border-left: 1px solid $brown;
  border-bottom: 1px solid $brown;
  border-right: 1px solid $brown;
  padding: 9px 14px 5px 13px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 24px 140px 4px 28px;
  }

  @media (min-width: $desktop) {
    padding: 34px 200px 21px 42px;
  }

  &--show {
    display: block;
  }
}

.questions-answers__paragraph {
  @include section-paragraph-mobile;
  margin: 0 0 5px 0;

  @media (min-width: $tablet) {
    @include paragraph;
    line-height: 25px;
    margin: 0 0 21px;
  }
}

.fade {
  animation: fade .3s alternate ease 1;
}

.questions-answers__button {
  border: 1px solid $gold;
  background: none;
  padding: 10px 12px 5px 13px;
  transition: .3s;

  @media (min-width: $tablet) {
    padding: 32px 26px 25px 28px;
  }

  @media (min-width: $desktop) {
    padding: 33px 43px 25px 43px;
  }

  &--active {
    background-color: $gold;
  }
}

.questions-answers__icon {
  stroke: $gold;

  &--curtail {
    stroke: $white;
  }
}

.questions-answers__icon--unfurl {
  .questions-answers__button:hover & {
    stroke: $white;
  }
}
