.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color4;
  padding: 11px 15px 20px 15px;

  @media (min-width: $tablet) {
    padding: 24px 15px 44px 31px;
  }

  @media (min-width: $desktop) {
    padding: 36px 30px 71px 31px;
  }
}

.reviews__title {
  @include section-title-mobile;
  margin: 19px 0 10px 0;

  @media (min-width: $tablet) {
    @include section-title;
    margin: 19px 0 15px;
  }
}
