.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  padding: 13px 15px 20px 15px
}


.reviews__title {
  @include section-title-mobile;
  margin: 19px 0 10px 0px;
}
