.reviews-gallery__photos-wrapper {
  position: relative;
  margin: 35px 0 41px;
}

.reviews-gallery__photo-block {
  position: absolute;
  top: -63px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 31px;

}

.reviews-gallery__photo {
  display: block;
  margin: 0 auto;
}

.reviews-gallery__photo-info {
  display: flex;
  flex-wrap: wrap;
  margin: 98px 0 0 0;
  padding: 143px 0 35px;
  background-color: $shadow-black;
  justify-content: center;
  align-items: center;
  column-gap: 38px;
  max-width: 578px;
}

.reviews-gallery__name {
  @include text-mobile;
  font-weight: 500;
  color: $white;
  text-align: center;

  @media (min-width: $tablet) {
    @include gallery-text;
    margin: 36px 0 0 22px;
  }
}

.reviews-gallery__blockquote {
  @include section-paragraph-mobile;
  opacity: 0.72;
  text-align: center;
  color: $white;
  margin: 15px 30px 17px 30px;
}

.reviews-gallery__link {
  @include button-link;
}

.reviews-gallery__sliders {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 94px;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.reviews-gallery__slider {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  stroke: $gold;
  stroke-width:5;
}

.reviews-gallery__social-list {
  display: flex;
  order: 4;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 15px;
}

.reviews-gallery__icon {
  border: 1px solid $gold;
  fill: $gold;
}

.reviews-gallery__date {
  flex-shrink: 1;
  align-self: center;
  order: 3;
  @include link-text-mobile;
  line-height: 17px;
  color: $gold;
  text-align: center;
}
