.team-gallery {
  @media (min-width: $tablet) {
    align-self: flex-start;
  }

  @media (min-width: $desktop) {
    align-self: flex-end;
    width: 100%;
  }
}

.team-gallery__photos-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 98px 0 41px;

  @media (min-width: $tablet) {
    margin: 29px 0 41px;
  }

  @media (min-width: $desktop) {
    margin: 27px 40px 41px 40px;
  }
}

.team-gallery__photo {
  position: absolute;
  top: -63px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet) {
    top: 297px;
    right: -151px;
    left: auto;
    transform: translateX(-99%);
  }

  @media (min-width: $desktop) {
    top: -1px;
    right: 341px;
  }
}

.team-gallery__photo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 84px 0 12px 0;
  background-color: $asphalt;

  @media (min-width: $tablet) {
    align-items: flex-start;
    border: 25px solid $shadow-black;
    margin: 0;
    max-width: 649px;
    padding: 68px 95px 72px 106px;
    outline: 1px solid rgba(145, 131, 115, 0.4);
    row-gap: 7px;
  }

  @media (min-width: $desktop) {
    border-top: 22px solid #151313;
    border-right: 33px solid #151313;
    border-bottom: 22px solid #151313;
    max-width: 658px;
    margin: 0 85px 0 0;
    padding: 68px 95px 69px 98px;
  }
}

.team-gallery__name {
  @include text-mobile;
  font-weight: 500;
  color: $gold;

  @media (min-width: $tablet) {
    @include gallery-text;
  }
}

.team-gallery__position {
  color: $gold;

  @media (min-width: $tablet) {
    @include paragraph;
    line-height: 22px;
  }
}

.team-gallery__blockquote {
  @include section-paragraph-mobile;
  opacity: 0.72;
  text-align: center;
  color: $white;
  margin: 20px 10px;

  @media (min-width: $tablet) {
    @include section-paragraph;
    text-align: left;
    margin: 16px 0 36px 0;
  }
}

.team-gallery__link {
  @include button-link;
}

.team-gallery__sliders {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 189px;

  @media (min-width: $tablet) {
    top: auto;
    left: auto;
    bottom: -107px;
    right: -142px;
    width: 302px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    bottom:auto;
    right: auto;
  }
}

.team-gallery__slider {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  stroke: $gold;
  stroke-width:5;
}

.team-gallery__social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 15px;
}
