.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $shadow-black;
  padding: 27px 15px 19px 15px;

  @media (min-width: $tablet) {
    padding: 52px 45px 98px 45px;
  }

  @media (min-width: $desktop) {
    padding: 52px 45px 32px 45px;
  }
}

.team__title {
  @include section-title-mobile;

  @media (min-width: $tablet) {
    @include section-title;
    margin: 30px 20px 22px 19px;
  }
}

.team__description {
  @include paragraph-mobile;
  color: $gold;
  text-align: center;
  margin: 0 20px;

  @media (min-width: $tablet) {
    @include paragraph;
    margin: 0 80px;
    max-width: 500px;
  }
}
