.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  padding: 27px 15px 19px 15px;
}

.team__title {
  @include section-title-mobile;
}

.team__description {
  @include paragraph-mobile;
  color: $gold;
  text-align: center;
  margin: 0 20px;
}

.team-gallery__name {
  @include text-mobile;
  color: $gold;
}

.team-gallery__position {
  @include paragraph-mobile;
  color: $gold;
}

.team-gallery__description {
  @include section-paragraph-mobile;
  color: $white;
}

.team-gallery__social-list {
  list-style: none;

}
