.team-gallery {
  @media (min-width: $tablet) {
    align-self: flex-start;
  }

  @media (min-width: $desktop) {
    align-self: flex-end;
  }
}

.team-gallery__photos-wrapper {
  position: relative;
  margin: 35px 0 41px;

  @media (min-width: $tablet) {
    margin: 29px 0 41px;
  }
}

.team-gallery__photo-block {
  position: absolute;
  top: -63px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 31px;

  @media (min-width: $tablet) {
    top: 296px;
    left: 98%;
    transform: translateX(-99%);
    padding: 0 45px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    padding: 0 553px 0 0px;
    top: -2px;
    left: 597px;
  }
}

.team-gallery__photo {
  display: block;
  margin: 0 auto;
}

.team-gallery__photo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 98px 0 0 0;
  padding: 84px 0 12px 0;
  background-color: $asphalt;

  @media (min-width: $tablet) {
    align-items: flex-start;
    border: 25px solid $shadow-black;
    margin: 0;
    max-width: 649px;
    padding: 68px 95px 72px 106px;
    outline: 1px solid rgba(145, 131, 115, 0.4);
    row-gap: 7px;
  }
}

.team-gallery__name {
  @include text-mobile;
  font-weight: 500;
  color: $gold;

  @media (min-width: $tablet) {
    @include gallery-text;
  }
}

.team-gallery__position {
  color: $gold;

  @media (min-width: $tablet) {
    @include paragraph;
    line-height: 22px;
  }
}

.team-gallery__blockquote {
  @include section-paragraph-mobile;
  opacity: 0.72;
  text-align: center;
  color: $white;
  margin: 20px 10px;

  @media (min-width: $tablet) {
    @include section-paragraph;
    text-align: left;
    margin: 16px 0 38px 0;
  }
}

.team-gallery__link {
  @include button-link;
}

.team-gallery__sliders {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 65px;
  left: 0;
  transform: translateY(-50%);
  width: 100%;

  @media (min-width: $tablet) {
    top: 196px;
  }
}

.team-gallery__slider {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  stroke: $gold;
  stroke-width:5;
}

.team-gallery__social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 15px;
}
