@mixin title-mobile {
  font-family: "Yeseva One", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  word-break: break-word;
}

@mixin title {
  font-family: "Yeseva One", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
  word-break: break-word;
}

@mixin paragraph-mobile {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  word-break: break-word;
}

@mixin paragraph {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
}

@mixin link-text-mobile {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  word-break: break-word;
}

@mixin link-text {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  word-break: break-word;
}

@mixin section-title-mobile {
  font-family: "Yeseva One", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  word-break: break-word;
  color: $white;
  text-align: center;
}

@mixin section-title  {
  font-family: "Yeseva One", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  word-break: break-word;
  color: $white;
}

@mixin section-paragraph-mobile {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  word-break: break-word;
}

@mixin section-paragraph {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  word-break: break-word;
}

@mixin button-text {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  word-break: break-word;
  text-decoration: none;
  color: $white;
}

@mixin text-mobile {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  word-break: break-word;
}

@mixin text {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  word-break: break-word;
}

@mixin gallery-text {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  word-break: break-word;
}

@mixin button-link {
  @include link-text-mobile;
  padding: 11px 20px 13px 20px;
  border: 1px solid $gold;
  color: $white;
  text-decoration: none;

  @media (min-width: $tablet) {
    @include link-text;
  }
}
