//device-width
$mobile: 320px;
$tablet: 768px;
$desktop: 1366px;

//colors
$color: rgba(160, 123, 80, 0.4);
$color1: #ffffff;
$color2: #181617;
$color3: #151313;
$color4: #1f1c1d;
$color5: #fdf2e6;
$color6: #a07b50;
$color7: #544332;
$color8: #ddd0c3;
$color9: #f5f5f5;
$vk-color: #597da3;
$twitter-color: #1da1f2;
$facebook-color: #3b5998;
