//device-width
$mobile: 320px;
$tablet: 768px;
$desktop: 1366px;

//colors
$white: #ffffff;
$black: #181617;
$shadow-black: #151313;
$asphalt: #1f1c1d;
$grey: #fdf2e6;
$gold: #a07b50;
$brown: #544332;
$beige: #ddd0c3;
$smoky-white: #f5f5f5;
$color: rgba(160, 123, 80, 0.4);
$vk-color: #597da3;
$twitter-color: #1da1f2;
$facebook-color: #3b5998;
